BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
AlignConsecutiveMacros: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
ColumnLimit: 0
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
BreakBeforeBraces: Attach
AlignArrayOfStructures: Left
